.url-input{
  margin: 10px 0 0 10px;
}

.url-button{
  display:inline-block;
  float:right;
  margin: 10px 0 0 0;
  width: 78px;
}

.label-blue {
  color: #4285f4; 
}

.center{
  text-align:center;
}
